.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header {
  display: flex;
  width: calc(100vw - 40px);
  height: 100px;
  background: #1261a6;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons button {
  background-color: white;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 2px 2px gray;
  transition: ease background-color 250ms;
  &:hover {
    background-color: lightgray;
  }
  &:disabled {
    cursor: default;
    opacity: 0.7;
  }
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100vw;
  background: #1572c3;
}

.board {
  display: flex;
  justify-content: center;
}

.column {
  display: grid;
  align-content: center;
  grid-auto-rows: 46px;
  margin-left: -5px;
  margin-right: -5px;
}

.tile {
  width: 50px;
  height: 50px;
}

.desert polygon {
  fill: #e3c29e;
}
.wood polygon {
  fill: #228b22;
}
.sheep polygon {
  fill: #90ee90;
}
.wheat polygon {
  fill: #ffd700;
}
.brick polygon {
  fill: #a0522d;
}
.stone polygon {
  fill: #808080;
}
