.board {
  display: flex;
  justify-content: center;
}

.column {
  display: grid;
  align-content: center;
  grid-auto-rows: 46px;
}

.tile {
  width: 50px;
  height: 50px;
}

.desert polygon { fill: #e3c29e; }
.wood polygon { fill: #228B22; }
.sheep polygon { fill: #90EE90; }
.wheat polygon { fill: #FFD700; }
.brick polygon { fill: #A0522D; }
.stone polygon { fill: #808080; }