.board {
  display: flex;
  justify-content: center;
}

.column {
  display: grid;
  align-content: center;
  grid-auto-rows: 55px;
  margin: 3px;
}

.tile {
  width: 50px;
  height: 50px;
}

.desert { background-color: #e3c29e; }
.wood { background-color: #228B22; }
.sheep { background-color: #90EE90; }
.wheat { background-color: #FFD700; }
.brick { background-color: #A0522D; }
.stone { background-color: #808080; }